<header class="site-header">
  <div class="header-inner">

    <div class="logo-section"></div>

    <nav class="main-nav">
      <a href="#" class="active">
        Projects
        <span class="nav-divider"></span>
      </a>

      <a href="#">
        About
        <span class="nav-divider"></span>
      </a>

      <a href="#">
        Dev Journal
        <span class="nav-divider"></span>
      </a>

      <a href="#">
        Contact
        <span class="nav-divider"></span>
      </a>
    </nav>

  </div>
</header>
